
/*-------------------------------------------/
/               LAYOUT.APP                  /
/-------------------------------------------*/

body {
  background: url("http://www.ibox-security.co.uk/wp-content/uploads/2013/06/Website-Design-Background-1.jpg") repeat;
}

.navbar-app {
  border-radius: 0 !important;
}

.char-app {
  font-size: 50px;
  font-family: serif;
}

.create-poll {
  padding: 15px;
  border-radius: 10px;
}

.multiple-lang {
  margin-top: 10px;
}

.content {
  margin-top: 100px;
}

/*-------------------------------------------/
/               AUTH.LOGIN                   /
/-------------------------------------------*/
.login {
  margin-top: 100px;
}

.btn-login {
  border-radius: 0 !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.btn-login:hover {
  font-size: 20px;
}

.btn-social-login {
  margin-top: 10px;
}

.register-text {
  float: right !important;
}

/*-------------------------------------------/
/               AUTH.REGISTER                /
/-------------------------------------------*/
.register {
  margin-top: 100px;
}

.btn-register {
  border-radius: 0 !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.btn-register:hover {
  font-size: 20px;
}

#preview-avatar {
  height: 100px;
  width: 200px;
}

/*-------------------------------------------/
/               USER.POLL.DETAIL             /
/-------------------------------------------*/
.title {
  text-align: center;
}

.panel-poll {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.panel-poll:hover {
  box-shadow: 2px 2px 2px black;
}

.selection-option {
  position: fixed;
}

#vote-layout {
  position: fixed;
}

.nav-pills>li>a {
  border-radius: 0 !important;
}

.panel-content {
  border-radius: 0 !important;
}

.img-option {
  cursor: pointer;
}

#imageOfOptionPreview {
  width: 1000px;
  height:500px;
}

/*-------------------------------------------/
/               USER.POLL.MANAGER             /
/-------------------------------------------*/
.activity-poll {
  margin-top: 10px;
}

.image-option {
  width: 100px;
  height: 100px;
}

.btn-delete-option-duplicate {
  float: right;
}

.file {
  display: none !important;
}

.preview-image {
  display: none;
  height: 100px;
  width:100px;
}

.email-participant {
  display: none;
}

.setting-advance {
  display: none;
}

.error {
  border: 1px solid red !important;
}


.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
